{% extends "base.html" %}
{% block main %}
<h1>Les Auteurs</h1>

<a href="{{ url_for('newAuthor') }}"><button class="add-author-button">Ajouter un auteur</button></a>

<div class="table-container">
    <div class="table-section">
        <h2>Auteurs - Page 1</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            {% for x in authors[:(authors|length // 2)] %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.name }}</td>
                <td>
                    <a href="{{ url_for('edit_author', id=x.id) }}">Éditer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-section">
        <h2>Auteurs - Page 2</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            {% for x in authors[(authors|length // 2):] %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.name }}</td>
                <td>
                    <a href="{{ url_for('edit_author', id=x.id) }}">Éditer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
